 @model IEnumerable<DemoApplication1.Models.Employee>

     <div class="row">
          <div class="col-xs-6">
               <div class="card card-block">
                    <h3 class="card-title text-success">Employees Details</h3>
                    <p class="card-text">Text</p>

                    <table class="table table-responsive">
                         <thead>
                              <tr>
                                   <td>#</td>
                                   <td>Name</td>
                                   <td>Gender</td>
                                   <td>Address</td>
                                   <td>Email </td>
                                   <td>Mobile</td>
                                   <td>Profile Photo</td>
                              </tr>
                         </thead>
                         <tbody>
                            
                         </tbody>
                    </table>
               </div>
          </div>
          <div class="col-xs-6">
               <div class="card card-block">
                    <h3 class="card-title">Department Details</h3>
                    <p class="card-text">Text</p>
                    <img src="" class="img-flued" alt="">
               </div>
          </div>
     </div>
